<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ecomm" connectionString="Data Source=70.35.196.54;Initial Catalog=ECOMM_Backoffice;User ID=sa;Password=_Sadmin1"/>
  </connectionStrings>
  <appSettings>
    <add key="intervalES" value="300000"/>
    <add key="intervalES_Bck" value="5000"/>
    <add key="intervalCorreo" value="10000"/>
    <add key="intervaloCancelaRef" value="60000"/>
    <add key="pathES" value="C:\logstash-7.3.2\bin\logstash.bat"/>
    <add key="parametersES" value=" -f C:\logstash-7.3.2\config\logstash.conf"/>
    <add key="parametersES_Bck" value=" -f C:\logstash-7.3.2\config\logstash_bck.conf"/>
    <add key="pathCurl" value="C:\curl-7.68.0-win64-mingw\bin\curl.exe"/>
    <add key="parametersCurl" value=" -XDELETE localhost:9200/productospapeleria"/>
    <add key="parametersCurl_Bck" value=" -XDELETE localhost:9200/productospapeleria_bck"/>
    <add key="fileOrigin" value="C:\Program Files (x86)\TimboxLayout\Timbrados\"/>
    <add key="fileDestination" value="C:\inetpub\wwwroot\Content\files\"/>
    <add key="ProcReferenciados" value="1"/>
    <add key="ProcCorreo" value="1"/>
    <add key="CancelaPagosRef" value="update Orde set IdEstatusOrden = 9 from ECOMM_Orders.dbo.Ordenes Orde inner join ECOMM_Payments.dbo.PagosReferenciados ref on ref.OrdenId = orde.OrdenId and ref.[Authorization] is null Where IdEstatusOrden = 2 and DueDate {0}"/>
    <add key="ProcesaFactFactura" value="update [ECOMM_Orders].[dbo].[Facturacion] set Facturado = 1 Where(Facturado is null or Facturado = 0) ANd NombreArchivoSalida like '%{0}%'; "/>
    <add key="ProcesaFactNombreArchivo" value="update [ECOMM_Orders].[dbo].[Facturacion] set NombreArchivoSalida = '{0}' Where NombreArchivoSalida like '%{1}%'; "/>
    <add key="EnviarCorreo" value="select Body, FromEmail, SMTPServer, UserEmail, Pass, SubjectEmail, usu.Correo from ECOMM_Backoffice.dbo.CorreoFacturacion, ECOMM_Orders.dbo.Facturacion fac  INNER JOIN ECOMM_Users.dbo.Usuarios Usu on Usu.Id = fac.Idusuario where NombreArchivoSalida like '% {0} %' AND idCorrecoFactura = 1"/>
    <add key="ActualizaStatusEntregado" value="select Ord.OrdenId, Ship.Carrier, Ship.EnviayaShipmentNumber, Ship.CarrierShipmentNumber FROM ECOMM_Orders_prod.dbo.Ordenes Ord INNER JOIN ECOMM_Orders_prod.dbo.ShipmentBooking Ship on Ord.OrdenId = Ship.OrdenId INNER JOIN ECOMM_Orders_prod.dbo.EstatusOrdenes Est on Ord.IdEstatusOrden = Est.id WHERE IdEstatusOrden = 12 and Ship.CarrierShipmentNumber is not NULL"/>
    <add key="api_key" value="8f6930ad99c33ed0b3a91cebec0c6d12"/>
    <add key="urlTracking" value="https://sandbox.enviaya.com.mx/api/v1/trackings"/>
  </appSettings>
</configuration>