<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ecomm" connectionString="Data Source=70.35.196.54;Initial Catalog=ECOMM_Backoffice;User ID=sa;Password=_Sadmin1"/>
  </connectionStrings>
  <appSettings>
    <add key="fileOrigin" value=""/>
    <add key="fileDestination" value=""/>
  </appSettings>
</configuration>