<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ecomm" connectionString="Data Source=70.35.196.54;Initial Catalog=ECOMM_Backoffice;User ID=sa;Password=_Sadmin1"/>
  </connectionStrings>
  <appSettings>
    <add key="intervalES" value="300000"/>
    <add key="intervalES_Bck" value="5000"/>
    <add key="intervalCorreo" value="10000"/>
    <add key="intervaloCancelaRef" value="60000"/>
    <add key="pathES" value="C:\logstash-7.3.2\bin\logstash.bat"/>
    <add key="parametersES" value=" -f C:\logstash-7.3.2\config\logstash.conf"/>
    <add key="parametersES_Bck" value=" -f C:\logstash-7.3.2\config\logstash_bck.conf"/>
    <add key="pathCurl" value="C:\curl-7.68.0-win64-mingw\bin\curl.exe"/>
    <add key="parametersCurl" value=" -XDELETE localhost:9200/productospapeleria"/>
    <add key="parametersCurl_Bck" value=" -XDELETE localhost:9200/productospapeleria_bck"/>
    <add key="fileOrigin" value="C:\Program Files (x86)\TimboxLayout\Timbrados\"/>
    <add key="fileDestination" value="C:\inetpub\wwwroot\Content\files\"/>
    <add key="ProcReferenciados" value="1"/>
    <add key="ProcCorreo" value="1"/>
  </appSettings>
</configuration>